Django==4.1.12
gunicorn
whitenoise
psycopg2-binary
dj-database-url
pytest-django
django-extensions
django-htmx
pytz
bs4
httpx
sentry-sdk
pytest-httpx
ics==0.7.2
astral
django-sql-dashboard>=1.1
exceptiongroup
python-ulid
boto3