<div class="shift-mini">
  <div class="shift-content">
    <!-- Style wise it doesnt matter which heading level we use, use what ever is right for accessibility -->
    <h2 class="shift-title"><a href="#">{{ shift.day|date:"D, F jS Y" }}</a></h2>
    <p class="shift-type">Weekend low tide</p>
    <p>{{ shift.start|date:"g:iA"|lower }} &mdash; {{ shift.end|date:"g:iA"|lower }}, Lowest tide of {{ shift.mllw_feet }}ft at {{ shift.low_tide_datetime.time|date:"g:iA"|lower }}</p>
    <div class="day-alone">
      {% with shift.tide_times_svg as tide_times_svg %}
        {% include "_tide_svg.html" %}
      {% endwith %}
    </div>
    <p><span class="context-text">Currently scheduled: </span><a href="#linktoperson" class="person-mini"><img alt="" src="#">Simon Willison</a><span class="context-text"> and </span><a href="#linktoperson" class="person-mini"><img alt="" src="#">Natalie Downe</a></p>
  </div> <!-- .shift-content -->
  <!-- This is below the shift content for accessibity -->
  <ul class="shift-actions">
    <li class="shift-status"><p><em class="context-text">Shift status: </em><span>Confirmed</span></p></li>
    <li><a href="#">edit</a></li>
    <li><a href="#">cancel</a></li>
  </ul>
</div> <!-- .shift-mini -->