<div class="shift-mini{% if shift.is_suggested %} shift-suggested{% else %} shift-confirmed{% endif %}">
  <div class="shift-content">
    <!-- Style wise it doesnt matter which heading level we use, use what ever is right for accessibility -->
    <h2 class="shift-title">
      {% if shift.id %}
        <a href="/shifts/{{ shift.id }}/">{{ shift.day|date:"D, F jS Y" }}</a>
      {% else %}
        {{ shift.day|date:"D, F jS Y" }}
      {% endif %}
    </h2>
    <p class="shift-type">Weekend low tide</p>
    <p>{{ shift.shift_start|date:"g:iA"|lower }} &mdash; {{ shift.shift_end|date:"g:iA"|lower }}, lowest tide of {{ shift.mllw_feet }}ft at {{ shift.lowest_tide|date:"g:iA"|lower }}</p>
    <div class="day-alone">
      {% with shift.tide_times_svg as tide_times_svg %}
        {% include "_tide_svg.html" %}
      {% endwith %}
    </div>
    {% if shift.id %}
    <!-- use <details> <summary> -->
    <details{% if change_times_open %} open{% endif %}>
      <summary>Change times</summary>
      <p>Start:
        <button hx-post="/shifts/{{ shift.id }}/edit/"
          hx-vals='{"start": "{{ shift.shift_start_minus_15|date:"c" }}"}'
          hx-target="closest .shift-mini"
          hx-swap="outerHTML">{{ shift.shift_start_minus_15|date:"g:iA"|lower }}</button>
        {{ shift.shift_start|date:"g:iA"|lower }}
        <button hx-post="/shifts/{{ shift.id }}/edit/"
          hx-vals='{"start": "{{ shift.shift_start_plus_15|date:"c" }}"}'
          hx-target="closest .shift-mini"
          hx-swap="outerHTML">{{ shift.shift_start_plus_15|date:"g:iA"|lower }}</button>
      </p>
      <p>End:
        <button hx-post="/shifts/{{ shift.id }}/edit/"
          hx-vals='{"end": "{{ shift.shift_end_minus_15|date:"c" }}"}'
          hx-target="closest .shift-mini"
          hx-swap="outerHTML">{{ shift.shift_end_minus_15|date:"g:iA"|lower }}</button>
        {{ shift.shift_end|date:"g:iA"|lower }}
        <button hx-post="/shifts/{{ shift.id }}/edit/"
          hx-vals='{"end": "{{ shift.shift_end_plus_15|date:"c" }}"}'
          hx-target="closest .shift-mini"
          hx-swap="outerHTML">{{ shift.shift_end_plus_15|date:"g:iA"|lower }}</button>
      </p>
    </details>
    {% endif %}
    <!--
      <p><span class="context-text">Currently scheduled: </span><a href="#linktoperson" class="person-mini"><img alt="" src="#">Simon Willison</a><span class="context-text"> and </span><a href="#linktoperson" class="person-mini"><img alt="" src="#">Natalie Downe</a></p>
    -->
  </div> <!-- .shift-content -->
  <!-- This is below the shift content for accessibity -->
  <ul class="shift-actions">
    <li class="shift-status"><p><em class="context-text">Shift status: </em><span>{% if shift.is_suggested %}Suggested{% else %}Confirmed{% endif %}</span></p></li>
    {% if shift.is_suggested %}
      <li><a href="#"
        hx-post="/programs/{{ team.slug }}/add-shift/"
        hx-vals="{{ post_vars|to_json }}"
        hx-target="closest .shift-mini"
        hx-swap="outerHTML"
        class="button"
      >confirm</a></li>
    {% else %}
      <li><a href="#"
        hx-post="/programs/{{ team.slug }}/delete-shift/"
        hx-confirm="Are you sure you wish to cancel this shift?"
        hx-vals="{{ post_vars|to_json }}"
        hx-target="closest .shift-mini"
        hx-swap="outerHTML"
        class="button"
      >cancel</a></li>
    {% endif %}
    <!-- <li><a href="#">edit</a></li> 
    <li><a href="#">cancel</a></li> -->
  </ul>
</div> <!-- .shift-mini -->