<div class="page-controls">
    <ul>
      {% if request.user.is_authenticated %}
        <li><a class="loginout" href="/logout/">Logout</a></li>
        <li><a class="profile" href="/users/{{ request.user.username }}/">Profile</a></li>
      {% else %}
        <li><a class="loginout" href="/login/">Login</a></li>
      {% endif %}
      {% if is_team_admin %}
        <li><a class="manage" href="/programs/{{ team.slug }}/manage-shifts/">Manage Shifts</a></li>
      {% endif %}
      {% if request.user.is_staff or request.user.is_superuser %}
        <li><a class="admin" href="/admin/">Admin</a></li>
        <li><a class="dashboard" href="/dashboard/">Reports</a></li>
      {% endif %}
      </ul>
  </div>