<!DOCTYPE html>
<head>
<title>Import shifts</title>
<style>
  body { font-family: helvetica; line-height: 1.3em; padding: 2em; }
</style>
</head>
<body>
  <h1>Import shifts</h1>
  <p>Copy and paste from <a href="https://observablehq.com/@natbat/tidepool-shift-calculator-v2">@natbat/tidepool-shift-calculator-v2</a></p>
  <form action="." method="POST">
    {% csrf_token %}
    <p><textarea name="data" style="width: 80%; height: 10em"></textarea></p>
    <p><input type="submit" value="Import shifts"></p>
  </form>
</body>