{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<title>Pillar Point Tidepool Stewards</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
<link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#0a4b7d">
<meta name="msapplication-TileColor" content="#0a4b7d">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>

<header class="section">
  <div class="stretch">
    <h1 class="title"><span class="location">Pillar Point</span> <em>Tidepool Stewards</em></h1>
  </div>
</header> <!-- end header -->



<div class="page">

  {% if request.user.is_authenticated %}
    <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>You are logged in as {{ request.user }}</span></h1>
        <p>Here comes content</p>
      </div>
    </section> <!-- end .page-title -->

    <section class="content">
      <div class="primary">
        {% if upcoming_shifts %}
          <h2>Your upcoming shifts</h2>
          {{ upcoming_shifts }}
          <ol class="shifts">
            {% for shift in upcoming_shifts %}
              <li class="shift">
                  <h3 class="date" title="{{ shift.shift_start.date }}"><span class="day">{{ shift.shift_start|date:"jS" }}</span> <span class="month">{{ shift.shift_start|date:"F" }}</span></h3>
                  <p class="shifttimes">On shift from {{ shift.shift_start|date:"g:iA"|lower }} to {{ shift.shift_end|date:"g:iA"|lower }}</p>
                  <!-- <p class="lowtide">Tide is at it's lowest of -1ft at 3pm</p> -->
                  <p class="controls"><a href="#">Cancel</a></p>
              </li>
            {% endfor %}
              <li class="shift">
                <h3 class="date"><span class="day">1st</span> <span class="month">May</span></h3>
                <p class="shifttimes">On shift from 12 noon to 2pm</p>
                <p class="lowtide">Tide is at it's lowest of -0.35ft at 1pm</p>
                <p class="controls">Are you sure you want to cancel? <a href="#">Yes</a> <a href="#">No</a></p>
            </li>
            <li class="shift newshift"><a href="#">
              <h3 class="date"><span class="day">+</span></h3>
              <p class="shifttimes">Sign up to a shift</p>
            </a></li>
          </ol>
        {% endif %}
        <!-- <h2>Your past shifts</h2> -->
      </div>
      <div class="secondary pull-out">
          {{ contact_details }}
        </div> <!-- end .secondary -->
        </section>















  {% else %}
    <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>Coming soon!</span></h1>
      </div>
    </section> <!-- end .page-title -->
  {% endif %}

  </div>

  </body>
  </html>