{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>Join the Tidepool Stewards</span></h1>
        <div class="page-controls">
            <a class="loginout" href="/login/">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="3"></circle>
              <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
            </svg> Login or signup</a>
        </div>
      </div>
    </section> <!-- end .page-title -->
    <section class="content">
      <div class="full">

        <p class="intro">Get your feet wet and protect our coast, <strong>become a tidepool steward</strong>!</p> 
        
        <div class="teaser-banner column-container">

          <div class="column">
            <h2 class="icon-header icon-educate">Educate</h2>
            <p>Head to the reef, <strong>talk to visitors</strong> about how unique and important our rocky 
              intertidal habitat is, and enhance their visit to the coast.</p>
            <p>In places where people are allowed to fish and collect, we can <strong>teach 
              sustainable harvesting techniques</strong> and the ecological reasons behind the rules. </p>
          </div><!-- .column -->

          <div class="column">
            <h2 class="icon-header icon-inspire">Inspire</h2>
            <p>We aim to <strong>inspire visitors to protect our coast</strong>.</p>
            <p>It's remarkable to consider that if all the tidepools in California were combined, 
            they would span a mere 15 square miles. This vital ecosystem serves as an exclusive 
            haven for numerous unique species and serves as a crucial nursery for the broader ocean.</p>
          </div><!-- .column -->

          <div class="column">
            <h2 class="icon-header icon-empower">Empower</h2>
            <p>We can empower visitors to become stewards of the fragile intertidal ecosystem by 
              <strong>sharing our enthusiasm</strong> and employing proven interpretative methods.
              </p>
              <p>We encourage them to discover practical ways to contribute to the preservation of 
                our reefs and oceans, <strong>combating plastic pollution and addressing climate 
                  change in their daily lives</strong>.
            </p> 
          </div><!-- .column -->

        </div><!-- .teaser-banner .column-container -->

        <!-- <p class="mega"><a href="#" class="button">APPLY TO BE A STEWARD</a></p> -->

        <br>

        <h2>Current programs</h2>

        <div class="column-container">

          <div class="column">
            <div class="program-mini">
              <div class="program-mini-header" style="background-image: url({% static "/content/SM-pillar-point.jpeg" %});">
                <h3>Pillar Point</h3>
              </div>
              <p class="program-mini-location"><strong>Half Moon Bay, San Mateo MPA</strong></p>
              <!-- <p>Pillar Point reef is a large rocky outcrop that juts into the ocean breeding a rich and biodiverse habitat which is just south of the protected Montara MPA and SMCA so is governed by Fish & wildlife rules and is heavily harvested. Stewards in this program go out in pairs and talk to visitors about the life and ecosystem of the reef as well as teaching sustainable harvesting practices and collection rules. The reef has a flat area with shallow pools and grasses as well as deeper canyons with taller outcrops.
              </p> -->
              <p>Pillar Point Reef is near but not in the Montara MPA and SMCA, it teems with diverse 
                marine life. Our stewards educate visitors on sustainable practices. The reef features 
                shallow pools, seagrass areas, and deep canyons.</p>
              <p><a href="/login/" class="button">APPLY</a> <a href="/login/" class="button">LOGIN</a></p>
            </div><!-- .program-mini -->
          </div><!-- .column -->
          <div class="column">
            <div class="program-mini"><!-- TODO change to appropriate image -->
              <div class="program-mini-header" style="background-image: url(https://live.staticflickr.com/2391/2412612556_0eb1776dbe.jpg);">
                <h3>Duxbury</h3>
              </div>
              <p class="program-mini-location"><strong>Bolinas, Golden Gate MPA</strong></p>
              <p>Duxbury Reef SMCA, near Bolinas, Marin County, hosts North America's largest shale reef. 
                It's a small MPA with extensive tidepools. Stewards are in an educational role and 
                sometimes offer tours.</p>
              <p><a href="/login/" class="button">APPLY</a> <a href="/login/" class="button">LOGIN</a></p>
            </div><!-- .program-mini -->
          </div><!-- .column -->

          <div class="column"></div><!-- .column -->

        </div><!-- .column-container -->
        <p class="intro"><a href="mailto:natbat+tidepoolstewards@gmail.com">Register interest in a new location</a></p>
        
      </div><!-- .full -->
    </section>
{% endblock %}
