{% extends "base.html" %}
{% load static %}

{% block title %}Join a program{% endblock %}

{% block content %}
<section class="page-title">
    <div class="title-wrapper stretch">
      <h1 class="text"><span>You are logged in as {{ request.user }}</span></h1>
      {% include "_menu.html" %}
  </div>
</section> <!-- end .page-title -->
<section class="content">
  <div class="primary">
    <div class="alert">Thanks for signing up! Your account is not yet active, please enter the code your coordinator gave you.
        <form class="inline-form" method="POST" action="/join-program/">
            {% csrf_token %}
            <div><input type="text" name="code"><button type="submit">Go</button></div>
        </form>
        {% if error %}
            <br><br>
            <p><strong>{{ error }}</strong></p>
        {% endif %}
        {% if request.user.is_staff or request.user.is_superuser %}
            <p><a href="/admin/">Admin panel</a></p>
        {% endif %}
    </div>
  </div>
</section>
{% endblock %}
