{% extends "base.html" %}
{% load static %}

{% block title %}Join a program{% endblock %}

{% block content %}
<section class="page-title">
    <div class="title-wrapper stretch">
      <h1 class="text"><span>You are logged in as {{ request.user }}</span></h1>
      <div class="page-controls">
          <a class="loginout" href="/logout/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="3"></circle>
            <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
          </svg> Logout</a>
  </div>
</section> <!-- end .page-title -->
<section class="content">
  <div class="primary">
    <div class="alert">Thanks for signing up! Your account is not yet active, please enter the code your coordinator gave you.
        <form class="inline-form" method="POST" action="/join-program/">
            {% csrf_token %}
            <div><input type="text" name="code"><button type="submit">Go</button></div>
        </form>
        {% if error %}
            <br><br>
            <p><strong>{{ error }}</strong></p>
        {% endif %}
        {% if request.user.is_staff or request.user.is_superuser %}
            <p><a href="/admin/">Admin panel</a></p>
        {% endif %}
    </div>
  </div>
</section>
{% endblock %}
