{% extends "base.html" %}
{% load static %}

{% block title %}Manage upcoming shifts for {{ team.name }}{% endblock %}

{% block content %}
<section class="page-title">
  <div class="title-wrapper stretch">
    <h1 class="text"><span>Manage upcoming shifts for {{ team.name }}</span></h1>
  </div>
</section> <!-- end .page-title -->
<section class="content">
  <div class="primary">
    <div id="calculator-results">Loading...</div>
  </div>
  <div class="secondary">
    <form id="calculator-form">
      <div class="input-container block-container">
        <label for="weekday-low-tide">Weekday low tide (ft)</label>
        <input type="number" value="-1" min="-2" max="8" step="0.05" name="weekday-low-tide">
        <input type="range" value="-1" min="-2" max="8" step="0.05" name="range_weekday-low-tide">
      </div>
      <!-- weekend low tide -->
      <div class="input-container block-container">
        <label for="weekend-low-tide">Weekend low tide (ft)</label>
        <input type="number" value="0" min="-2" max="8" step="0.05" name="weekend-low-tide">
        <input type="range" value="0" min="-2" max="8" step="0.05" name="range_weekend-low-tide">
      </div>
      <!-- Super low tide (ft) must be lower than both above
      <div class="input-container block-container">
        <label for="super-low-tide">Super low tide (ft)</label>
        <input type="number" value="-1.5" min="-2" max="8" step="0.05" name="super-low-tide">
        <input type="range" min="-2" max="8" step="0.05" name="range_super-low-tide">
      </div> -->
      <div class="input-container block-container">
        <label for="shift-buffer-before">Shift minutes before low tide</label>
        <input type="number" value="45" min="0" max="180" step="15" name="shift-buffer-before">
        <input type="range" value="45" min="0" max="180" step="15" name="range_shift-buffer-before">
      </div>
      <div class="input-container block-container">
        <label for="shift-buffer-after">Shift minutes after low tide</label>
        <input type="number" value="90" min="0" max="180" step="15" name="shift-buffer-after">
        <input type="range" value="90" min="0" max="180" step="15" name="range_shift-buffer-after">
      </div>
      <!-- People per regular shift -->
      <div class="input-container block-container">
        <label for="people-per-regular-shift">People per shift</label>
        <input type="number" value="2" min="1" max="15" step="1" name="people-per-regular-shift">
        <input type="range" value="2" min="1" max="15" step="1" name="range_people-per-regular-shift">
      </div>
      <!-- People per super-low shift
      <div class="input-container block-container">
        <label for="people-per-super-low-shift">People per super-low shift</label>
        <input type="number" value="3" min="1" max="15" step="1" name="people-per-super-low-shift">
        <input type="range" min="1" max="15" step="1" name="range_people-per-super-low-shift">
      </div> -->
      <!-- Earliest shift time buffer -->
      <div class="input-container block-container">
        <label for="earliest-shift-time-buffer">Earliest minutes after sunrise</label>
        <input type="number" value="60" min="0" max="180" step="15" name="earliest-shift-time-buffer">
        <input type="range" value="60" min="0" max="180" step="15" name="range_earliest-shift-time-buffer">
        <p class="meta">Treat the start of the day as this many minutes past sunrise, to avoid sending people out for shifts that start in the dark.</p>
      </div>
      <!-- Don't schedule shifts shorter than this duration (mins) -->
      <div class="input-container block-container">
        <label for="shortest-shift-duration">No shifts shorter than x minutes</label>
        <input type="number" value="90" min="0" max="360" step="15" name="shortest-shift-duration">
        <input type="range" value="90" min="0" max="360" step="15" name="range_shortest-shift-duration">
      </div>
    </form>
  </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Listen to input events on all input and range elements
    document.querySelectorAll('input[type="number"],input[type="range"]').forEach(function(input) {
        input.addEventListener('input', function() {
            let matchedInput;
            if (input.type === "number") {
                // If this is a number input, find the corresponding range input by prefixing the name with "range_"
                matchedInput = document.querySelector(`input[name="range_${input.name}"]`);
            } else if (input.type === "range") {
                // If this is a range input, find the corresponding number input by removing the "range_" prefix from the name
                const numberName = input.name.replace("range_", "");
                matchedInput = document.querySelector(`input[name="${numberName}"]`);
            }
            if (matchedInput) {
                matchedInput.value = input.value;
            }
        });
    });
    // Start monitoring the form
    setInterval(() => monitorForm(document.querySelector('#calculator-form')), 1000);
});

function serializeNumbers(formElement) {
    let data = {};
    // Iterate over all the number input fields
    formElement.querySelectorAll('input[type="number"]').forEach(input => {
        data[input.name] = parseFloat(input.value);
    });
    return JSON.stringify(data);
}
let previousSerialization = "";
let previousAbortController = null;

function monitorForm(formElement) {
    const currentSerialization = serializeNumbers(formElement);
    // Check if the serialization has changed since the last check
    if (currentSerialization !== previousSerialization) {
        if (previousAbortController) {
            console.log('Aborting previous request');
            previousAbortController.abort();
        }
        let abortController = new AbortController();
        previousAbortController = abortController;
        document.querySelector('#calculator-results').style.opacity = 0.3;
        document.querySelector('#calculator-results').style.pointerEvents = 'none';
        fetch('/programs/{{ program_slug }}/manage-shifts/calculator/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: currentSerialization,
            signal: abortController.signal,
        })
        .then(response => {
            previousAbortController = null;
            return response.json(); 
        })
        .then(data => {
            let html = data.results.map(result => result.html).join('\n');
            document.querySelector('#calculator-results').innerHTML = data.top_block + html;
            document.querySelector('#calculator-results').style.opacity = 1;
            document.querySelector('#calculator-results').style.pointerEvents = 'auto';
            htmx.process(document.querySelector('#calculator-results'));
        })
        .catch(error => {
            console.error('Error fetching:', error);
        });
        previousSerialization = currentSerialization;
    }
}

</script>
{% endblock %}
