{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if request.user.is_authenticated and not user_is_inactive %}
    <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>Volunteer Materials</span></h1>
        {% include "_menu.html" %}
      </div>
    </section> <!-- end .page-title -->

	<section class="content">
	<div class="primary">

		<p class="intro">
			Thid page contains some useful links and resources that you might find handy as a 
			volunteer in the Pillar Point Tidepool Stewards program. If you have any suggestions
			please <a href="mailto:natbat@gmail.com">email Natalie</a>.
		</p>



		{{ materials|safe }}
	</div>

	<div class="secondary pull-out">
		<h2>More information</h2>

		<h3>Fishing License information</h3>
		<ul class="bullets">
		<li><a href="https://wildlife.ca.gov/Fishing/Ocean/Regulations/Sport-Fishing">CDFW Ocean Sport Fishing Regulations</a></li>
		<li><a href="https://nrm.dfg.ca.gov/FileHandler.ashx?DocumentID=199167&inline">Download the regulatins handbook</a></li>
		<li>You need a <a href="https://wildlife.ca.gov/Licensing/Fishing">license</a> to fish or collect invertebrates and other creatures at Pillar Point Reef. <a href="https://wildlife.ca.gov/Licensing/Online-Sales">Buy a license online</a></li>
		<li>&hellip; or <a href="https://www.ca.wildlifelicense.com/internetsales/OutletSearch/FindOutlet">buy a license locally</a> at <strong>Ace Hardware</strong> on Main street in HMB or the <strong>Sportfishing and Tackle shop</strong> near Johnson Pier in El Granada</li>
		</ul>


	</div> <!-- end .secondary -->
</section>
{% endif %}

{% endblock %}