{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<title>Pillar Point Tidepool Stewards</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
<link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#0a4b7d">
<meta name="msapplication-TileColor" content="#0a4b7d">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>

<header class="section">
  <div class="stretch">
    <h1 class="title"><span class="location">Pillar Point</span> <em>Tidepool Stewards</em></h1>
  </div>
</header> <!-- end header -->



<div class="page">

  <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>Pillar Point</span></h1>
      </div>
    </section> <!-- end .page-title -->

    <section class="content">
      <div class="primary">

        <p class="intro">This is an intro paragraph. This is an intro paragraph. This is an intro paragraph. This is an intro paragraph. This is an intro paragraph. This is an intro paragraph. This is an intro paragraph. </p>

        <p>This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. </p>

        <p><a href="http://signup.pillarpointstewards.com/" class="button">signup.pillarpointstewards.com</a></p>
          
        <h2>heading 2</h2>
        <p>This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. </p>

        <h3>heading 3</h3>
        <p>This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. </p>

        <h4>heading 4</h4>
        <p>This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. </p>

        <h5>heading 5</h5>
        <p>This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. </p>

        <h6>heading 6</h6>
        <p>This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. This is a regular paragraph. </p>


        <h2>Your upcoming shifts</h2>
          <ol class="shifts">
              <li class="shift">
                  <h3 class="date"><span class="day">15th</span> <span class="month">April</span></h3>
                  <p class="shifttimes">On shift from 1:30pm to 4pm</p>
                  <p class="lowtide">Tide is at it's lowest of -1ft at 3pm</p>
                  <p class="controls"><a href="#">Cancel</a></p>
              </li>
              <li class="shift">
                <h3 class="date"><span class="day">1st</span> <span class="month">May</span></h3>
                <p class="shifttimes">On shift from 12 noon to 2pm</p>
                <p class="lowtide">Tide is at it's lowest of -0.35ft at 1pm</p>
                <p class="controls">Are you sure you want to cancel? <a href="#">Yes</a> <a href="#">No</a></p>
            </li>
            <li class="shift newshift"><a href="#">
              <h3 class="date"><span class="day">+</span></h3>
              <p class="shifttimes">Sign up to a shift</p>
            </a></li>
          </ol>

          <h2>Sign up to future shifts</h2>
          <!-- This interface only works if there is only one shift a day -->
          <div class="month">
            <h3 class="monthheader">April</h3>
            <table>
              <thead>
                <tr>
                  <th scope="col">Mon</th>
                  <th scope="col">Tue</th>
                  <th scope="col">Wed</th>
                  <th scope="col">Thu</th>
                  <th scope="col">Fri</th>
                  <th scope="col" class="weekend">Sat</th>
                  <th scope="col" class="weekend">Sun</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="notcurrentmonth noshift">28<span class="context-text">th March</span></td>
                  <td class="notcurrentmonth noshift">29<span class="context-text">th March</span></td>
                  <td class="notcurrentmonth noshift">30<span class="context-text">th March</span></td>
                  <td class="notcurrentmonth noshift">31<span class="context-text">st March</span></td>
                  <td class="noshift">1<span class="context-text">st April</span></td>
                  <td class="weekend noshift">2<span class="context-text">nd April</span></td>
                  <td class="weekend noshift">3<span class="context-text">rd April</span></td>
                </tr>
                <tr>
                  <td class="shiftday available"><a href="#">4<span class="context-text">th April, shift is between</span> <span class="shifttime">10am-2pm</span></a></td>
                  <td class="noshift">5<span class="context-text">th April</span></td>
                  <td class="noshift">6<span class="context-text">th April</span></td>
                  <td class="shiftday partfull"><a href="#">7<span class="context-text">th April, shift is between</span> <span class="shifttime">10am-2pm</span></a></td>
                  <td class="noshift">8<span class="context-text">th April</span></td>
                  <td class="weekend noshift">9<span class="context-text">th April</span></td>
                  <td class="weekend noshift">10<span class="context-text">th April</span></td>
                </tr>
                <tr>
                  <td class="noshift">11<span class="context-text">th April</span></td>
                  <td class="noshift">12<span class="context-text">th April</span></td>
                  <td class="shiftday full"><a href="#">13<span class="context-text">th April, shift is between</span> <span class="shifttime">10am-2pm</span></a></td>
                  <td class="noshift">14<span class="context-text">th April</span></td>
                  <td class="noshift">15<span class="context-text">th April</span></td>
                  <td class="weekend noshift">16<span class="context-text">th April</span></td>
                  <td class="weekend noshift">17<span class="context-text">th April</span></td>
                </tr>
                <tr>
                  <td class="noshift">18<span class="context-text">th April</span></td>
                  <td class="noshift">19<span class="context-text">th April</span></td>
                  <td class="noshift">20<span class="context-text">th April</span></td>
                  <td class="noshift">21<span class="context-text">st April</span></td>
                  <td class="noshift">22<span class="context-text">nd April</span></td>
                  <td class="weekend shiftday available"><a href="#">23<span class="context-text">rd April, shift is between</span> <span class="shifttime">10am-2pm</span></a></td>
                  <td class="weekend shiftday full yours"><a href="#">24<span class="context-text">th April, shift is between</span> <span class="shifttime">10am-2pm</span></a></td>
                </tr>
                <tr>
                  <td class="noshift">25<span class="context-text">th April</span></td>
                  <td class="noshift">26<span class="context-text">th April</span></td>
                  <td class="noshift">27<span class="context-text">th April</span></td>
                  <td class="noshift">28<span class="context-text">th April</span></td>
                  <td class="noshift">29<span class="context-text">th April</span></td>
                  <td class="weekend shiftday partfull"><a href="#">30<span class="context-text">th April, shift is between</span> <span class="shifttime">10am-11am</span></a></td>
                  <td class="weekend notcurrentmonth noshift">1<span class="context-text">st May</span></td>
                </tr>
              </tbody>
            </table>
          </div>

        <h3>Key</h3>
        <ul class="calkey">
          <li class="yours">Your shift</li> <li class="available">volunteers needed</li> <li class="partfull">partly full shift</li> <li class="full">fully staffed shift</li>
        </ul>


      </div>
      <div class="secondary pull-out">
          <h2>Contact details</h2>
          <h3>Program coordinators</h3>
          <ul class="contacts bullets">
              <li class="contact"><strong>Natalie Downe</strong> <a href="tel:+1">(000) 000-0000</a></li>
              <li class="contact"><strong>Peninsula Humane Society </strong> <a href="tel:+1650-340-8200">(650) 340-8200</a> <span class="context">For dead animals and bites</span></li>
          </ul>

        </div> <!-- end .secondary -->
        </section>



  </div>

  </body>
  </html>