{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<title>Pillar Point Tidepool Stewards</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
<link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#0a4b7d">
<meta name="msapplication-TileColor" content="#0a4b7d">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{% static "main.css" %}">
</head>
<body>

<header class="section">
  <div class="stretch">
    <h1 class="title"><span class="location">Pillar Point</span> <em>Tidepool Stewards</em></h1>
  </div>
</header> <!-- end header -->



<div class="page">

  <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>Pillar Point</span></h1>
      </div>
    </section> <!-- end .page-title -->

    <section class="content">
      <div class="primary">
          <h2>Your upcoming shifts</h2>
          <ol class="shifts">
              <li class="shift">
                  <h3 class="date"><span class="day">15th</span> <span class="month">April</span></h3>
                  <p class="shifttimes">On shift from 1:30pm to 4pm</p>
                  <p class="lowtide">Tide is at it's lowest of -1ft at 3pm</p>
                  <p class="controls"><a href="#">Cancel</a></p>
              </li>
              <li class="shift">
                <h3 class="date"><span class="day">1st</span> <span class="month">May</span></h3>
                <p class="shifttimes">On shift from 12 noon to 2pm</p>
                <p class="lowtide">Tide is at it's lowest of -0.35ft at 1pm</p>
                <p class="controls">Are you sure you want to cancel? <a href="#">Yes</a> <a href="#">No</a></p>
            </li>
            <li class="shift newshift"><a href="#">
              <h3 class="date"><span class="day">+</span></h3>
              <p class="shifttimes">Sign up to a shift</p>
            </a></li>
          </ol>

          <h2>Sign up to future shifts</h2>

          <div class="month">
            <h3 class="monthheader">April</h3>
            <table>
              <thead>
                <tr>
                  <th scope="col">Mon</th>
                  <th scope="col">Tue</th>
                  <th scope="col">Wed</th>
                  <th scope="col">Thu</th>
                  <th scope="col">Fri</th>
                  <th scope="col" class="weekend">Sat</th>
                  <th scope="col" class="weekend">Sun</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="notcurrentmonth">28</td>
                  <td class="notcurrentmonth">29</td>
                  <td class="notcurrentmonth">30</td>
                  <td class="notcurrentmonth">31</td>
                  <td>1</td>
                  <td class="weekend">2</td>
                  <td class="weekend">3</td>
                </tr>
                <tr>
                  <td class="shiftday available"><a href="#">4</a></td>
                  <td>5</td>
                  <td>6</td>
                  <td class="shiftday partful"><a href="#">7</a></td>
                  <td>8</td>
                  <td class="weekend">9</td>
                  <td class="weekend">10</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>12</td>
                  <td class="shiftday full"><a href="#">13</a></td>
                  <td>14</td>
                  <td>15</td>
                  <td class="weekend">16</td>
                  <td class="weekend">17</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
                  <td>22</td>
                  <td class="weekend shiftday available"><a href="#">23</a></td>
                  <td class="weekend shiftday full"><a href="#">24</a></td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                  <td>29</td>
                  <td class="weekend shiftday partful"><a href="#">30</a></td>
                  <td class="weekend notcurrentmonth">1</td>
                </tr>
              </tbody>
            </table>
          </div>



      </div>
      <div class="secondary pull-out">
          <h2>Contact details</h2>
          <h3>Program coordinators</h3>
          <ul class="contacts bullets">
              <li class="contact"><strong>Natalie Downe</strong> <a href="tel:+1">(000) 000-0000</a></li>
              <li class="contact"><strong>Peninsula Humane Society </strong> <a href="tel:+1650-340-8200">(650) 340-8200</a> <span class="context">For dead animals and bites</span></li>
          </ul>

        </div> <!-- end .secondary -->
        </section>



  </div>

  </body>
  </html>