{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="page-title">
      <div class="title-wrapper stretch">
        <h1 class="text"><span>You are logged in as {{ request.user }}</span></h1>
        {% include "_menu.html" %}
      </div>
    </section> <!-- end .page-title -->

    <section class="content">
      <div class="primary">
        {% if upcoming_shifts %}
          <h2>Your upcoming shifts</h2>
          <ol class="shifts">
            {% for shift in upcoming_shifts %}
              <li class="shift">
                <a href="{{ shift.get_absolute_url }}" class="shift-link">
                  <h3 class="date" title="{{ shift.shift_start.date }}">
                    <span class="day">{{ shift.shift_start|date:"jS" }}</span> <span class="month">{{ shift.shift_start|date:"F" }}</span>
                  </h3>
                  
                  <p class="shifttimes">On shift from {{ shift.shift_start|date:"g:iA"|lower }} to {{ shift.shift_end|date:"g:iA"|lower }} {{ shift.shift_start|date:"D" }}&nbsp;{{ shift.shift_start|date:"jS" }} {{ shift.shift_start|date:"F" }}&nbsp;{{ shift.shift_start|date:"Y" }}</p>
                  {% if shift.mllw_feet %}
                    <p class="lowtide"><strong>Low tide:</strong> {{ shift.mllw_feet }}ft at {{ shift.lowest_tide|date:"g:iA"|lower }}</p>
                  {% endif %}
                  <p class="stewards"><strong>Stewards <em>({{ shift.stewards.count }}{% if shift.target_stewards %}/{{ shift.target_stewards }}{% endif %})</em>:</strong>
                    {% for steward in shift.stewards.all %}{{ steward }} {% if not forloop.last %}, {% endif %}{% endfor %}
                  </p>
                </a>
              </li>
            {% endfor %}
          </ol>
        {% endif %}

        <form action="/shifts/calendar-instructions/" method="POST">{% csrf_token %}
          <p><button style="font-size: 0.7em" class="button">Subscribe to your shifts in your calendar</button></p>
        </form>

        <!-- <h2>Your past shifts</h2> -->

        <h2>Calendar of upcoming shifts</h2>
        {% for calendar in calendars %}
          {{ calendar }}
          {% if forloop.first %}
            <h3>Key</h3>
            <ul class="calkey">
              <li class="yours">Your shift</li> <li class="available">volunteers needed</li> <li class="partfull">partly full shift</li> <li class="full">fully staffed shift</li>
            </ul>
          {% endif %}
        {% endfor %}
        <br>

        <p class="intro">
          <a href="/programs/{{ team.slug }}/shifts/">Agenda view of shifts</a>
          {% if team.slug == "pillar-point" %}&middot; <a href="/materials/">Volunteer training materials</a>{% endif %}
        </p>
      </div>
      {% if contact_details %}
      <div class="secondary pull-out">
          {{ contact_details|safe }}
      </div> <!-- end .secondary -->
      {% endif %}
      </section>
{% endblock %}
