Northern and Central California
Intertidal Collecting Regulations

Except where prohibited within marine protected areas ONLY the following may be taken: limpets, turban snails, mussels, rock scallops, native oysters, octopuses, crabs, shrimp, sea urchins and worms except that no worms may be taken in any
mussel bed, unless taken incidental to the harvesting of mussels. An accurate measuring device must be in your possession to keep legal-sized rock crab.
Please see CCR Title 14, Section 29.05 for more information.

All species in the RED box are PROHIBITED at this time. Species in the GREEN box have SIZE and/or NUMBER limits

All abalone species All sea star species All chiton species
         Nudibranchs/sea slugs
Gooseneck barnacles All barnacle species
Photo: A. Raffety
  


Take

35 individuals may be taken for each of these species
with the exception that mussels have a limit of 10 pounds in the shell.

Other species that may be taken, with a limit of 35 each
include: hermit crabs, native oysters, octopuses, and worms except that no worms may be intentionally taken in any mussel bed. ONLY use hands to collect. DO NOT use knife, prybar or any other tool with the EXCEPTION of rock scallops(limit of 10).

Moon Snail: 5
Shore crab: 35
Rock crab: 35
Minimum length: 4 inches
4”
Illustration: A.Bachar
Red and Purple urchin: 35 each
    Moon snails may only be taken South of the Golden Gate Bridge.
Limpet: 35
Turban snail: 35
 


The California Department of Public Health warns not to eat mussels from May - Oct each year, to avoid poisoning that can lead to serious illness, including coma and death.
For the latest information on shellfish health advisories call (800) 553-4133

Mussels: Limit 10 pounds


Please check the CDFW mobile map tool to AVOID collecting in protected areas:
https://wildlife.ca.gov/ OceanSportfishMap


NOTE: This flyer does not replace regulations found in California Code of Regulations Title 14, Section 29.05 Illustrations by Amadeo Bachar, all rights reserved.