{% extends "base.html" %}
{% load static %}

{% block title %}Shift on {{ shift.shift_start|date:"jS F Y" }}{% endblock %}

{% block content %}
<section class="page-title">
  <div class="title-wrapper stretch">
    <h1 class="text"><span>Shift on {{ shift.shift_start|date:"jS F Y" }}</span></h1>
    <div class="page-controls">
      {% if request.user.is_authenticated %}
        <a class="loginout" href="/logout/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="3"></circle>
          <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
        </svg> Logout</a>
      {% else %}
        <a class="loginout" href="/login/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="3"></circle>
          <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
        </svg> Login</a>
      {% endif %}
    </div>
  </div>
</section> <!-- end .page-title -->
<section class="content">
  <div class="primary">
    <h2 class="header1" title="{{ shift.shift_start.date }}">You are {% if not user_is_on_shift %}not{% endif %} scheduled on this shift</h2>
    <div class="intro">
      {% if shift.description %}
        <p class="intro">{{ shift.description }}</p>
      {% endif %}
      <p><strong>Shift time:</strong> from {{ shift.shift_start|date:"g:iA"|lower }} to {{ shift.shift_end|date:"g:iA"|lower }}</p>
      {% if shift.mllw_feet %}
        <p><strong>Lowest tide:</strong> {{ shift.mllw_feet }}ft at {{ shift.lowest_tide|date:"g:iA"|lower }}</p>
      {% endif %}
      {% if shift.dawn %}<p><strong>Dawn:</strong> {{ shift.dawn|date:"g:iA"|lower }}</p>{% endif %}
      {% if shift.dusk %}<p><strong>Dusk:</strong> {{ shift.dusk|date:"g:iA"|lower }}</p>{% endif %}
    </div><br>

    <h2>Volunteers on this shift <em>({{ stewards|length }}{% if shift.target_stewards %}/{{ shift.target_stewards }}{% endif %})</em></h2>

    {% if not stewards %}
      <p>It looks like no-one has signed up for this shift yet</p>
    {% else %}
      <!-- if there are volunteers assigned -->
      <ul class="people-list">
        {% for steward in stewards %}
          <li><div class="pic"></div><p class="name">{{ steward }}</p>
            <p class="context">
              {% if steward == request.user %}
                You are signed up to this shift
              {% else %}
                Has volunteered on {{ steward.shifts.count }} shift{{ steward.shifts.count|pluralize }}</p>
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!--endif -->

    {% if user_is_on_shift %}
      <form action="/unassign-shift/{{ shift.pk }}/" method="POST">{% csrf_token %}
        <button type="submit" class="button shift-assign">Remove me from this shift</button>
      </form>
    {% else %}
      <form action="/assign-shift/{{ shift.pk }}/" method="POST">{% csrf_token %}
        <button type="submit" class="button shift-assign">Add me to this shift</button>
      </form>
    {% endif %}

    {% if shift_reports %}
      <h2>Shift reports</h2>
      <ul>
        {% for report in shift_reports %}
          <li id="report-{{ report.pk }}">
            <p><strong>{{ report.created|date:"jS F Y g:iA" }}</strong> - {{ report.user }}</p>
            <p style="padding-left: 1em">{{ report.report }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if can_add_report %}
      <h2>Add your shift report</h2>
      <form action="{{ shift.get_absolute_url }}report/" method="POST">{% csrf_token %}
        <p style="margin-bottom: 0"><textarea style="width: 70%; height: 5em" name="report" placeholder="Add a report"></textarea></p>
        <p><button type="submit" class="button shift-assign">Add report</button></p>
      </form>
    {% endif %}

    <p class="intro"><a href="/programs/{{ team.slug }}/">&lt; Back to homepage</a></p>

    {% if tide_times_svg %}
      <h2>Tide on this day</h2>
      {% include "_tide_svg.html" %}
    {% endif %}

    {% if forecast %}
      <h2>Conditions</h2>

      {% for item in forecast.details.weather %}
        <div class="weather-item">
          <img src="http://openweathermap.org/img/wn/{{ item.icon }}@2x.png" alt="{{ item.main }}">
          <p><strong>{{ item.main }}</strong> - {{ item.description }}</p>
        </div>
      {% endfor %}

      <p><strong>Wind speed:</strong> {{ forecast.details.wind_speed }}mph with gusts of {{ forecast.details.wind_gust }}mph</p>
      <p><strong>UV index:</strong> {{ forecast.details.uvi }}</p>
      <p><strong>Humidity:</strong> {{ forecast.details.humidity }}%</p>
      <!-- F = 1.8*(K-273) + 32 -->
      <details>
        <summary>Further details</summary>
        <pre style="font-family: courier">{{ forecast.details|pprint }}</pre>
      </details><br>
    {% endif %}
  </div>
  <div class="secondary pull-out">
    {{ contact_details|safe }}
</div> <!-- end .secondary -->
</section>
   {% endblock %}
