{% extends "base.html" %}

{% block title %}{{ team }}: All shifts{% endblock %}

{% block content %}
<section class="page-title">
  <div class="title-wrapper stretch">
    <h1 class="text"><span>{{ team }}</span></h1>
    {% include "_menu.html" %}
  </div>
</section> <!-- end .page-title -->

<section class="content">
  <div class="primary">
    <h2>All shifts</h2>
    

    <ol class="shifts">
      {% for shift in shifts %}
        <li class="shift">
            <h3 class="date date-{{ shift.fullness }}" title="{{ shift.shift_start.date }}">
              <a href="{{ shift.get_absolute_url }}" class="shift-link">
                <span class="day">{{ shift.shift_start|date:"jS" }}</span>
                <span class="month">{{ shift.shift_start|date:"F" }}</span>
              </a>
            </h3>
            <p class="shifttimes"><a href="{{ shift.get_absolute_url }}">Shift from {{ shift.shift_start|date:"g:iA"|lower }} to {{ shift.shift_end|date:"g:iA"|lower }}</a> {{ shift.shift_start|date:"D" }}&nbsp;{{ shift.shift_start|date:"jS" }} {{ shift.shift_start|date:"F" }}&nbsp;{{ shift.shift_start|date:"Y" }}</p>
            {% if shift.mllw_feet %}
              <p class="lowtide"><strong>Low tide:</strong> {{ shift.mllw_feet }}ft at {{ shift.lowest_tide|date:"g:iA"|lower }}</p>
            {% endif %}
            {% if shift.stewards.all %}
              <p class="stewards"><strong>Stewards <em>({{ shift.stewards.count }}{% if shift.target_stewards %}/{{ shift.target_stewards }}{% endif %})</em>:</strong>
                {% for steward in shift.stewards.all %}{{ steward }} {% if not forloop.last %}, {% endif %}{% endfor %}
              </p>
            {% endif %}
        </li>
      {% endfor %}
    </ol>
  </div>

  <div class="secondary pull-out">
    <h2>Key</h2>
    <ul class="calkey">
      <li class="available">volunteers needed</li> <li class="partfull">partly full shift</li> <li class="full">fully staffed shift</li>
    </ul>
  
  </div> <!-- end .secondary -->

</section>



{% endblock %}
