{% extends "base.html" %}
{% load tz %}
{% load static %}

{% block title %}Shift on {{ shift.shift_start|date:"jS F Y" }}{% endblock %}

{% block extra_head %}
<script src="{% static 'image-upload.js' %}"></script>
{% endblock %}

{% block content %}
<section class="page-title">
  <div class="title-wrapper stretch">
    <h1 class="text"><span>Shift on {{ shift.shift_start|date:"jS F Y" }}</span></h1>
    {% include "_menu.html" %}
  </div>
</section> <!-- end .page-title -->
<section class="content">
  <div class="primary">
    <h2 class="header1" title="{{ shift.shift_start.date }}">You are {% if not user_is_on_shift %}not{% endif %} scheduled on this shift</h2>
    <div class="intro">
      {% if shift.description %}
        <p class="intro">{{ shift.description }}</p>
      {% endif %}
      <p><strong>Shift time:</strong> from {{ shift.shift_start|date:"g:iA"|lower }} to {{ shift.shift_end|date:"g:iA"|lower }}</p>
      {% if shift.mllw_feet %}
        <p><strong>Lowest tide:</strong> {{ shift.mllw_feet }}ft at {{ shift.lowest_tide|date:"g:iA"|lower }}</p>
      {% endif %}
      {% if shift.dawn %}<p><strong>Dawn:</strong> {{ shift.dawn|date:"g:iA"|lower }}</p>{% endif %}
      {% if shift.dusk %}<p><strong>Dusk:</strong> {{ shift.dusk|date:"g:iA"|lower }}</p>{% endif %}
    </div><br>

    <h2>Volunteers on this shift <em>({{ stewards|length }}{% if shift.target_stewards %}/{{ shift.target_stewards }}{% endif %})</em></h2>

    {% if not stewards %}
      <p>It looks like no-one has signed up for this shift yet</p>
    {% else %}
      <!-- if there are volunteers assigned -->
      <ul class="people-list">
        {% for steward in stewards %}
          <li><div class="pic"{% if steward.profile and steward.profile.thumbnail_url %} style="background-image: url({{ steward.profile.thumbnail_url }})"{% endif %}></div>
            <p class="name"><a href="/users/{{ steward.username }}/">{{ steward.profile.name|default:steward.username }}</a></p>
            <p class="context">
              {% if steward == request.user %}
                You are signed up to this shift
              {% else %}
                Has volunteered on {{ steward.shifts.count }} shift{{ steward.shifts.count|pluralize }}</p>
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!--endif -->

    {% if user_is_on_shift %}
      <form action="/unassign-shift/{{ shift.pk }}/" method="POST">{% csrf_token %}
        <button type="submit" class="button shift-assign">Remove me from this shift</button>
      </form>
    {% else %}
      <form action="/assign-shift/{{ shift.pk }}/" method="POST">{% csrf_token %}
        <button type="submit" class="button shift-assign">Add me to this shift</button>
      </form>
    {% endif %}

    {% if shift_reports or can_add_report %}
      <div class="dropdown-block">
        <h2 class="dropdown-title">Shift reports</h2>
          <div class="dropdown-content">
            
            {% if shift_reports %}{% timezone "America/Los_Angeles" %}
              <ul style="padding-top:1em;">
                {% for report in shift_reports %}
                  <li class="comment-container id="report-{{ report.pk }}">
                    <p class="comment-meta"><strong>{{ report.created|date:"jS F Y g:iA" }}</strong> by {{ report.user }}</p>
                    <div class="comment-block" ><p>{{ report.report|linebreaksbr }}</p></div>
                  </li>
                {% endfor %}
              </ul>
            {% endtimezone %}{% endif %}

            {% with shift.photos.all as photos %}
              {% if photos %}
                <h2>Photos</h2>
                <div class="photo-gallery">
                  {% for photo in photos %}
                    <div>
                      <img src="https://s3.amazonaws.com/images.tidepoolstewards.com/{{ photo.path }}" style="max-width: 100%; width: 400px">
                      <div><strong>{{ photo.owner }}</strong> - {{ photo.created_pst }}</div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            {% if can_add_report %}
              <h2>Add your shift report</h2>
              <form action="{{ shift.get_absolute_url }}report/" method="POST">{% csrf_token %}
                <div class="input-container block-container">
                  <textarea style="height: 28em" name="report" placeholder="Add a report">{{ team.shift_report_template|default:"" }}</textarea>
                </div>
                <button type="submit" class="button">Add report</button>
              </form>
              <image-uploader 
                shift-id="{{ shift.id }}"
                csrf-token="{{ csrf_token }}"
                is-profile-photo="false"
              ></image-uploader>
            {% endif %}
        </div>
      </div>

    {% endif %}
    
    <p class="intro"><a href="/programs/{{ team.slug }}/">&lt; Back to homepage</a></p>

    {% if is_team_admin %}
      <div class="dropdown-block dropdown-admin">
        <h2 class="dropdown-title">Manage Shift Stewards (admins only)</h2>
        <div class="dropdown-content">
          {% if stewards %}
            <h3>Current Stewards</h3>
            <ul>
              {% for steward in stewards %}
                <li style="padding:0.3em 0">
                  {{ steward.username }}
                  <form method="post" action="{% url 'manage_shift_stewards' team.slug shift.id %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="remove">
                    <input type="hidden" name="user_id" value="{{ steward.id }}">
                    <button type="submit" class="button">Remove</button>
                  </form>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if can_be_added %}
            <h3>Add Steward</h3>
            <form method="post" action="{% url 'manage_shift_stewards' team.slug shift.id %}">
              {% csrf_token %}
              <input type="hidden" name="action" value="add">
              <select name="user_id">
                {% for member in can_be_added %}
                  <option value="{{ member.id }}">{{ member.username }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="button">Add to shift</button>
            </form>
          {% endif %}
          {% if shift_changes %}
            <h3>Shift Changes</h3>
            <ul class="bullets">
              {% for change in shift_changes %}
                <li>{{ change.when }} - user {{ change.user }} was {{ change.change }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if tide_times_svg %}
      <h2>Tide on this day</h2>
      {% include "_tide_svg.html" %}
    {% endif %}

    {% if forecast %}
      <h2>Conditions</h2>

      {% for item in forecast.details.weather %}
        <div class="weather-item">
          <img src="http://openweathermap.org/img/wn/{{ item.icon }}@2x.png" alt="{{ item.main }}">
          <p><strong>{{ item.main }}</strong> - {{ item.description }}</p>
        </div>
      {% endfor %}

      <p><strong>Wind speed:</strong> {{ forecast.details.wind_speed }}mph with gusts of {{ forecast.details.wind_gust }}mph</p>
      <p><strong>UV index:</strong> {{ forecast.details.uvi }}</p>
      <p><strong>Humidity:</strong> {{ forecast.details.humidity }}%</p>
      <!-- F = 1.8*(K-273) + 32 -->
      <details>
        <summary>Further details</summary>
        <pre style="font-family: courier">{{ forecast.details|pprint }}</pre>
      </details><br>
    {% endif %}
  </div>
  {% if contact_details %}<div class="secondary pull-out">
    {{ contact_details|safe }}
    </div> <!-- end .secondary -->{% endif %}
</section>

<script>
document.querySelector('image-uploader').addEventListener('upload-complete', function(e) {
  window.location.reload();
});
</script>

{% endblock %}
