{% extends "base.html" %}

{% block title %}Shifts{% endblock %}

{% block content %}
<section class="page-title">
  <div class="title-wrapper stretch">
    <h1 class="text"><span>Pillar Point</span></h1>
    {% include "_menu.html" %}
  </div>
</section> <!-- end .page-title -->

<section class="content">
  <div class="primary">
    <h2>Timeline of activity</h2>

  <table class="timeline">
    <thead>
      <tr>
        <th scope="col">When</th>
        <th scope="col">User</th>
        <th scope="col">Action</th>
        <th scope="col">Shift</th>
      </tr>
    </thead>
    <tbody>
    {% for change in shift_changes %}
      <tr>
        <th scope="row">{{ change.when }}</th>
        <td>{{ change.user }}</td>
        <td>{{ change.change }}</td>
        <td>{{ change.shift.shift_start.date }}: {{ change.shift.shift_start|date:"g:iA"|lower }}-{{ change.shift.shift_end|date:"g:iA"|lower }} (now has {{ change.shift.stewards.count }} stewards)</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


</div> 
<div class="secondary pull-out">
  <h2>Links</h2>
  <h3>Site links</h3>
  <ul class="bullets">
    <li><a href="/">Home</a></li>
    <li><a href="/admin/">Admin panel</a></li>
    <li><a href="/admin/import-shifts/">Import shifts</a></li>
    <li><a href="/patterns/">Pattern portfolio</a></li>
  </ul><br>
  <h3>Additional links</h3>
  <ul class="bullets">
    <li><a href="https://observablehq.com/@natbat/tidepool-shift-calculator-v2">Tidepool Calculator</a></li>
    <li><a href="https://github.com/natbat/pillarpointstewards/issues">Site todo & buggs list</a></li>
    <li><a href="https://github.com/natbat/pillarpointstewards">Site code</a></li>
    <li><a href="http://signup.pillarpointstewards.com/">Volunteer signup</a></li>
    <li><a href="https://join.slack.com/t/pillarpointstewards/shared_invite/zt-11ny9ypir-UnwhdIE8u51Z3gkovSLVTQ">Slack discussion group</a></li>
  </ul>

</div> <!-- end .secondary -->

</section>



{% endblock %}
