name: Test

on:
  push:
    paths-ignore:
    - '**/README.md'

jobs:

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Run pytest
        env:
          DATABASE_URL: 'postgres://postgres:postgres@localhost:${{ job.services.postgres.ports[5432] }}/postgres'
        run: |
          cd pillarpointstewards && python -m pytest
      - name: Ensure collectstatic runs without errors
        run: |
          ./pillarpointstewards/manage.py collectstatic
      # - name: Setup Fly
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   uses: superfly/flyctl-actions/setup-flyctl@master
      # - name: Deploy to Fly
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   env:
      #     FLY_API_TOKEN: ${{ secrets.FLY_ACCESS_TOKEN }}
      #   run: |
      #     flyctl deploy -a pillarpointstewards
