name: Update all stations

on:
  workflow_dispatch:
  schedule:
    # Every Monday at 8am UTC
    - cron: '0 8 * * 1'

permissions:
  contents: write

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Trigger station update and save response
      env:
        BACKUP_SECRET: ${{ secrets.BACKUP_SECRET }}
      run: |-
        stations=$(curl -s https://www.tidepoolstewards.com/update-stations/)
        # Loop through each station in the counts
        echo "$stations" | jq -r '.counts | keys[]' | while read -r station_id; do
            echo "Processing station $station_id"
            # POST request for each station
            curl --fail -s -X POST \
              -d "station_id=$station_id" \
              -H "Authorization: Bearer $BACKUP_SECRET" \
              https://www.tidepoolstewards.com/update-stations/
            echo "Successfully processed station $station_id"
        done
    - name: Commit and push if there are changes
      run: |-
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git add update-all-stations.json
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update stations data [skip ci]" && git push)
